@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --titulo:'Outfit', sans-serif;
    --text:'Roboto', sans-serif;
    --cor1:#0C1524;
    --cor2:#0B76BD;
    --cor3:#FFAE00;
    --cor4:#E85301;
}

* {
    margin: 0;
}

body{
    background-color: rgb(250, 247, 247);
}

header{
    width: 100vw; 
    padding: 1em;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.329);
    position: fixed; 
    top: 0;
}
.logo {
    width: 50%;
    text-align: center;
}
.logo > img{
    width: 8%;
}
nav {
    width: 50%;
    display: flex;
    align-items: center;
}
#links-menu > a {
    color: black;
    font-size: 1.3em;
    margin: 0em 1em;
    text-decoration: none;
    font-family: var(--titulo);
    font-weight: 500;
    position: relative;
}

#links-menu a::after {
    content: " ";
    width: 0%;
    height: 4px;
    background-color: rgba(6, 224, 6, 0.637);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}

#links-menu a:hover::after {
    width: 100%;
}
.menu{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 75px;
    background-color: white;
    border: 1px solid black;
    border-top: none;
}
.menu > a{
    padding: 0.2em 0em;
}
/* ======================================================================== */
button {
    width: 2.7em;
    height: 2.5em;
    border: 2px solid black;
    border-radius: 4px;
    background: transparent;
    display: none;
    cursor: pointer;
    margin: auto;
}

.linha {
    width: 1.3em;
    height: 0.2em;
    background-color: black;
    border-radius: 4px;
    display: block;
    margin: 0.4em auto;
    position: relative;
    transform-origin: center;
    transition: 0.2s;
}
button.ativar {
    border: 2px solid red;
}
button.ativar .linha:nth-child(1){
    transform: translateY(6px) rotate(-49deg);
    background-color: red;
}

button.ativar .linha:nth-child(2){
    width: 0;
}

button.ativar .linha:nth-child(3){
    transform: translateY(-10px) rotate(49deg);
    background-color: red;
}
/* ======================================================================== */
#promocao {
    height: 60vh;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--text);
}
/* ======================================================================== */
.icons1 {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icons1 > img{
    width: 6em;
    margin-top: 4em;
}
#i1{
    transform: rotate(11deg);
    transition: 0.5s;
}
#promocao:hover  #i1 {
    margin-right: 30%;
    transform: rotate(52deg);
}
#i2{
    margin-left: 80%;
    transform: rotate(10deg);
    transition: 0.5s;
}
#promocao:hover  #i2 {
    margin-left: 45%;
    transform: rotate(-42deg);
}
#i3{
    margin-right: 90%;
    transform: rotate(10deg);
    transition: 0.5s;
}
#promocao:hover  #i3 {
    margin-right: 45%;
    transform: rotate(-142deg);
}
#i4 {
    width: 3em;
    margin-right: 70%;
    transform: rotate(10deg);
    transition: 0.5s;
}
#promocao:hover  #i4 {
    margin-right: 10%;
    transform: rotate(55deg);
}
/* ======================================================================== */
#promocao > .text {
    width: 50%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#promocao > .text > h1{
    font-family: var(--titulo);
    font-weight: 500;
    font-size: 2em;
}
#promocao > .text > p {
    font-weight: 500;
    font-size: 1.3em;
    margin-top: 1em;
}
.desconto {
    margin-top: 2em;
}
#promocao > .text > .btn {
    margin-top: 2em;
    background-color: var(--cor3);
    padding: 0.3em 1em;
    display: flex;
    align-items: center;
    border-radius: 4px;
    transition: 0.5s;
    cursor: pointer;
}
#promocao > .text > .btn > p {
    margin-right: 0.2em;
    font-weight: 600;
}
#promocao > .text > .btn > span {
    transition: 0.5s;
}
#promocao > .text > .btn:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.308);
}
#promocao > .text > .btn:hover > span {
    padding-left: 0.5em;
}
/* ======================================================================== */
.destaque-mark {
    background-image: linear-gradient(var(--cor3),var(--cor3));
    background-size: 100% 25%;
    background-repeat: repeat-x;
    background-position: 0% calc(80%);
    transition: 0.5s;
    font-weight: 500;
    cursor: pointer;
}
.destaque-mark:hover {
    background-size: 100% 100%;
}
#destaque {
    color: var(--cor4);
}
/* ======================================================================== */