@media only screen and (max-width:1450px){
    .icons1{
        width: 10%;
    }
    #promocao > .text {
        width: 80%;
    }
    #video > .text > h2 {
        margin-bottom: 1em;
    }
    .redes-contatos {
        width: 100%;
    }
    .duvidas {
        width: 30%;
    }
}
@media only screen and (max-width:1000px){
    .logo > img{
        width: 15%;
    }
    #video > .youtube  iframe {
        height: 270px;
    }
    .cards {
        width: 30%;
        margin: 0em 2em;
    }
    #sobre {
        padding: 4em 2em;
    }
    #sobre > .text {
        padding: 0em 1em 0em 0em;
        width: 50%;
    }
    .foto > img {
        width: 100%;
        height: 100%;
    }
    .redes-contatos  i {
        margin: 0em 0.5em
    }
    footer > .logo {
        width: 20%;
        text-align: center;
    }
    footer > .logo img {
        width: 100%;
    }
    .duvidas {
        width: 40%;
    }
}
@media only screen and (max-width:780px){
    .logo{
        width: 35%;
    }
    .logo > img{
        width: 30%;
    }
    nav{
        width: 65%;
    }
}
@media only screen and (max-width:650px){
    button{
        display: block;
    }
    .menu{
        right: 20%;
    }
    .icons1 {
        display: none;
    }
    #promocao > .text {
        width: 100%;
    }
    #video > .youtube  iframe {
        width: 400px;
    }
    #avaliacoes {
        height: 100%;
    }
    .container {
        width: 100%;
        height: 52vh;
        overflow-y: auto;
    }
    .cards {
        margin: 0em 3em;
    }
    .card {
        width: 22vh;
    }

}
@media only screen and (max-width:576px){
    .menu{
        right: 15%;
    }
    #promocao{
        padding: 6em 0em 4em 0em;
    }
    #promocao > .text > h1 {
        text-align: center;
    }
    #video{
        padding: 2em 0em;
        height: 40vh;
    }
    #video > .text > h2 {
        font-size: 1.8em;
    }
    #icon-youtube {
        margin: 0.3em 0em 0em 0.7em;
    }
    #sobre{
        padding: 4em 0.4em;
        flex-direction: column;
        align-items: center;
    }
    #sobre > .text{
        width: 80%;
    }
    .foto {
        width: 100%;
        margin-top: 2em;
    }
    .foto > img {
        width: 60%;
    }

    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer > .logo {
        width: 100%;
        border: none;
    }
    footer > .logo > img{
        width: 30%;
    }
    .duvidas{
        width: 70%;
        border: none;
        margin-top: 2em;
        padding-left: 4em;
    }
    .redes{
        width: 100%;
        margin-top: 2em;
        padding: 0;
        text-align: center;
    }
}